<footer class="mart_d">
	<div class="footer marb_d">
		<div class="footer__block">
			<h3>Our Address</h3>
			The Spinney<br />
			Weston lane<br />
			Weston under Wetherley<br />
			Leamington Spa<br />
			CV33 9BT<br />
			United Kingdom
		</div>
		<div class="footer__block">
			<h3>Navigation</h3>
			<ul>
				<li><a href="/contact/">Contact</a></li>
				<li><a href="{{ .Site.Params.bookingLink }}">Find Us On Booking.com</a></li>
				<li><a href="{{ .Site.Params.airbnbLink }}">Find us on AirBnB</a></li>
			</ul>
		</div>

		<div class="footer__block">
			<div class="tac">
				<img src="/images/home/booking-badge.png" />
			</div>
		</div>
		<div class="footer__block">
			<div class="tac">
				<img src="/images/logo/logo-black.png" alt="The Spinney Logo" />
			</div>
		</div>
	</div>
	<div class="footer__sub">
		<div class="tac">
			<a href="https://lucidseo.co.uk/">Website Design and SEO by Lucid SEO</a>
		</div>
	</div>
</footer>