<footer class="mart_d">
	<div class="footer marb_2">
		<div class="footer__logo">
		
				<img src="/images/logo/logo-black.png" alt="Spinney footer logo" />
			
		</div>
		<div class="container">
			<div class="col-md-3">
				<div class="footer__block marb_2">
					<h2>Contact</h2>
					<ul>
						<li>
							<a href="#"><i class="fas fa-phone"></i> 01926 418726</a>
						</li>
						<li>
							<a href="mailto:"><i class="fas fa fa-envelope"></i> 01926 418726</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="footer__block marb_2">
					<h2>Our Address</h2>
					The Spinney<br />
					Weston lane<br />
					Weston under Wetherley<br />
					Leamington Spa<br />
					CV33 9BT<br />
					United Kingdom
				</div>
			</div>
			<div class="col-md-3">
				<div class="footer__block marb_2">
					<h2>Book</h2>
					<ul>
						<li><a href="/contact/">Contact</a></li>
					    <li>
					    	<a href="{{ .Site.Params.bookingLink }}" class="booking-link" target="_blank">
					    		<img  width="150" src="/images/bookingcom.svg" alt="Book through Booking.com" />
					    	</a>
					    </li>
					    <li>
					    	<a href="{{ .Site.Params.airbnbLink }}" class="booking-link" target="_blank">
					    		<img  width="150" src="/images/airbnb.svg" alt="Book through AirBnb" />
					    	</a>
					   </li>
					</ul>
				</div>
			</div>
			<div class="col-md-3">
				<div class="footer__block footer__block-booking-award tac marb_2">
					<h2>Awards</h2>
					<div class="tac">
						<img src="/images/home/booking-badge.png" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer__sub">
		<div class="tac">
			<a href="https://lucidseo.co.uk/">Website Design and SEO by Lucid SEO</a>
		</div>
	</div>
</footer>