{{ define "main" }}
<div class="container">
	<div class="standard-width--reading">
		<h1 class="tac">{{ .Title }}</h1>
		<div class="room-images">
			<div class="slick-prev slick-buttons"><i class="fas fa-arrow-circle-left"></i></div>
			<div class="room-images__thumbs-holder">
				<div class="room-images__thumbs">
					{{ range .Params.galleryImages}}
					<div>
						<picture>
							  <source srcset="{{.}}.webp" type="image/webp">
							  <source srcset="{{.}}.jpg" type="image/jpeg">
							  <img src="{{.}}"  loading=lazy alt="{{.}}" />					
						</picture>
					</div>
					{{ end }}
				</div>
			</div>
			<div class="slick-next slick-buttons"><i class="fas fa-arrow-circle-right"></i></div>
		</div>
	</div>
</div>
{{ end }}