.footer {
	text-align:center;

	ul {
		padding:0;
	}
	ul li {
		list-style: none;
		padding-bottom:16px;
	}
}

.footer__logo {
	text-align:center;

	img {
		width:300px;
	}
}

.footer__block-booking-award img {
	width:300px;
}

