.home-hero {
    position:relative;
    height:100vh;
}
.home-hero__content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    p,h1,h2 {
        color:white;
    }
  h1 {
    font-size:4em;
  }
  h2 {
    font-size:1.5em;
  }
}

.no-webp .home-hero__image-wrap {
    background:linear-gradient(to right, rgba(64,18,18,0.7), rgba(64,18,18,0.1), rgba(64,18,18,0.7)), url('/images/home/spinney-hero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.webp .home-hero__image-wrap {
    background:linear-gradient(to right, rgba(64,18,18,0.7), rgba(64,18,18,0.1), rgba(64,18,18,0.7)), url('/images/home/spinney-hero.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.home-hero__image-wrap {
    position:relative;
    width:100%;
    height:100vh;
    z-index:-1;
}




/* Rooms  */

.home-rooms__room {
  position:relative;
}

.home-rooms__room-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(64,18,18,0.7), rgba(64,18,18,0.1), rgba(64,18,18,0.7));
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      color:white;
      font-size:24px;
      font-family: $heading-font;
    }
}

.home-rooms__room-title:hover {
  text-decoration:none;
   background: linear-gradient(to right, rgba(64,18,18,0.4), rgba(64,18,18,0.1), rgba(64,18,18,0.4));
   transition:background 3;
}

/* Find us */
.home__find-us {
  padding-top:$baseline;
}